page-misestaciones {

    .toolbar-md-azulatome .bar-button-clear-md,
    .toolbar-md-azulatome .bar-button-default-md,
     .toolbar-md-azulatome .bar-button-outline-md,
      .toolbar-md-azulatome .toolbar-title-md
      {
                  color : black
        }
    .groupTabs{
        background-color: #acc5c6 ;
        border-right-color: #244c24;
        border-right-style: inset;
       }
        .tab{
            font-size: 20px;
            background-color: #acc5c6 ;
            color: black;
            margin-left: 9em;
        }
        .tab1{
            text-decoration: underline;
        }
        .tab:hover{
            text-decoration: underline;
        }
        .centrar{
            text-align: center
        }

        .letra17{
        
            font-size: 15px;      
        }
    
       .row{
           margin-bottom: 20px;
       }
    
       .opciones{
           text-align: center;
       }
       .diferencia{
        color: blue;
       }
       .imagenPremio{
        max-height: 300px;
       }
    
       .opcion{
           background-color: white;
           font-size: 18px;
       }
       .desc{
        overflow: scroll;
    }

    .borde{
        border-color: #244c24;
        border-style: inset;
    }
    

        @media (max-width: 500px ) and (min-width: 300px){
            .tab{
                margin-left: 0em;
                font-size: 18px;
            }
            .adminVal{
                display: none;
            }
        }
}
