page-crear-bitacora {
    
    .toolbar-md-azulatome .bar-button-clear-md,
     .toolbar-md-azulatome .bar-button-default-md,
      .toolbar-md-azulatome .bar-button-outline-md,
       .toolbar-md-azulatome .toolbar-title-md
       {
                   color : black
         }

         .right{
             text-align: right;
         }

         .area{
            max-width: 98%;
           }
        
}
