<ion-menu id="menu1" [content]="content" >
  <ion-header >
    <ion-toolbar color="azulatome">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
      <div class="separador"></div>
      <button menuClose ion-item  (click)="salir()">
        <ion-icon name="log-out"></ion-icon> Salir
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-menu id="menu2" [content]="content" color="azulatome">
  <ion-header>
    <ion-toolbar color="azulatome">
      <ion-title>Menu Admin</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pagesAdmin" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>